## Data Preprocessing

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import datetime as dt
from operator import attrgetter

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px 
import plotly.graph_objects as go
from mpl_toolkits.mplot3d import Axes3D

In [2]:
import pandas as pd


csv_file_path = 'data.csv'


try:
    df = pd.read_csv(csv_file_path, encoding='utf-8')
except UnicodeDecodeError:
    df = pd.read_csv(csv_file_path, encoding='latin-1')

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
df = df.dropna(subset=['CustomerID'])

In [5]:
df.duplicated().sum()

5225

In [6]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

## Question 9

In [8]:
import pandas as pd



# Check for direct profit or profit margin columns
direct_profit_column = 'Profit' in df.columns
direct_profit_margin_column = 'Profit Margin' in df.columns

# Calculate total profit
if direct_profit_column:
    total_profit = df['Profit'].sum()
else:
    df['Profit'] = df['Quantity'] * df['UnitPrice']
    total_profit = df['Profit'].sum()

# Find top 5 products with highest profit margins
if direct_profit_margin_column:
    top_5_products = df[['Description', 'Profit Margin']].drop_duplicates().nlargest(5, 'Profit Margin')
else:
    # Assuming profit margin is represented by UnitPrice
    df['Profit Margin'] = df['UnitPrice']
    top_5_products = df[['Description', 'Profit Margin']].drop_duplicates().nlargest(5, 'Profit Margin')

# Display results
print("Total Profit:", total_profit)
print("Top 5 Products with Highest Profit Margins:")
print(top_5_products)

Total Profit: 8300065.814000001
Top 5 Products with Highest Profit Margins:
       Description  Profit Margin
222681      Manual       38970.00
173277     POSTAGE        8142.75
173391      Manual        6930.00
268027      Manual        4287.63
422351      Manual        4161.06

## Question 10

In [9]:
# Simulate customer satisfaction ratings
import numpy as np
df['CustomerRating'] = np.random.randint(1, 6, size=len(df))

# Analyze the simulated customer satisfaction
average_rating = df['CustomerRating'].mean()
print("\nAverage Customer Rating:", average_rating)

rating_distribution = df['CustomerRating'].value_counts()
print("\nRating Distribution:")
print(rating_distribution)

Average Customer Rating: 2.998591545833753

Rating Distribution:
1    81513
2    81474
4    81409
5    81259
3    81174
Name: CustomerRating, dtype: int64